#osx
.DS_Store

#unity
#*.sln
*.userprefs
#*.csproj
*.pidb
#*.unityproj
FailedAssetImports.txt
unity3D-lessons/**/Library/cache/
unity3D-lessons/**/Library/previews/
unity3D-lessons/**/Library/ScriptAssemblies
unity3D-lessons/**/obj
unity3D-lessons/**/Temp

#3d-audio
3Daudio-lab/bell.wav
3Daudio-lab/filtered.wav
3Daudio-lab/tone.wav
*.m~
